@import "constants";
@import "reset";

.d-none{
    display: none;
}

.container {
    padding: 0 1rem;

    @media (min-width: map_get($MEDIA, MD)) {
        padding: 0 2rem;
    }

    @media (min-width: map_get($MEDIA, LG)) {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}


