//COLOR:
$BLACK: #000000;
$WHITE: #FFFFFF;

//SIZE:
$MAX-WIDTH: 1200px;

//MEDIA:
$MEDIA: (
        SM:768px,
        MD:1024px,
        LG:1280px,
        XL:1366px,
        XLL:1440px,
        HD:1920px,
        XHD:2560px
);

//MIXINS